.background {
  background: url(/public/images/nature.jpeg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100%;
  position: fixed;
  overflow-y: scroll;
}
.container{
  max-width: 1080px;
  margin: 0 auto 0 auto;
}